PyQt6==6.7.1
pydub
unidecode
sentence-splitter
pygame
num2words
ffmpeg-python
pdftextract
regex
hasami
ebooklib
beautifulsoup4
mutagen
Pillow
yt-dlp
requests
litellm
qdarkstyle
nemo_text_processing==1.2.0
numpy==1.26.4
wtpsplit-lite==0.2.0
